@media handled and (min-width: 600px) {
@font-face{
	font-family: "perso";
	src : url("police/Timeless.ttf");
}
@font-face{
	font-family:"title";
	src : url("police/Squares Bold Free.otf");
}

body{
	background: url("img/wall.jpg");
	color: white;
	font-family: "perso", sans-serif;

}
.title{
	text-align: center;
	font-family: "Capriola", sans-serif;
	
}	
header{
	display:flex;
	justify-content: space-between;
}
header img{
	border-radius: 50%;

}
.soustitre{
	color : red;
	text-align:center;
	text-shadow: 0.1em 0.1em 0.2em white;
	font-family: "title" ,sans-serif;
	font-size: 25px;
}
.bold{
	font-weight:  : bold;
}
.presentation{
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
}
.partie{
	display: flex;
	flex-direction: column;	
	justify-content: space-between;
	text-align: center;
}
.interest{
	text-align: center;
}
}